/* font body style from last challenge */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1;
  }
  
.weather-header {
    background: linear-gradient(to right, #466f9c, #0b3c70);
    color: white;display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }

.form-input {
    width: 250px; 
    padding: 10px; 
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 10px; 
  }
  
  .search-button {
    width: 250px; 
    padding: 10px; 
    box-sizing: border-box;
    background-color: #466f9c;
    color: white;
    border-radius: 5px; 
    
   }
  
  #clear-history-button {
    margin-top: 10px;
    width: 250px; 
    padding: 10px; 
    box-sizing: border-box;
    background-color: #466f9c;
    color: white;
    border-radius: 5px; 
    align-items: center;
    
   }

   .history-button {

    width: 250px; 
    padding: 10px; 
    padding-left: 10px !important;
    background-color: #5c5e5f;
    color: white;
    border-radius: 5px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    
}

  .input-group {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }
  

#today {
  display: inline-block;
  vertical-align: top; 
}

.card {
  width: 100%; 
  margin-top: 10px; 
  border: #0b3c70;
  border-radius: 1rem;
}

.card-body {
  text-align: left;
  color: aqua; 
}

