/* font body style from last challenge */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1;
  }
  
.weather-header {
    background: linear-gradient(to right, #466f9c, #0b3c70);
    color: white;display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }

.form-input {
    width: 250px; 
    padding: 10px; 
    margin-bottom: 10px; 
  }
  
  .search-button {
    width: 250px; 
    padding: 10px; 
   
    background-color: #466f9c;
    color: white;
    border-radius: 5px; 
    
   }
  
  #clear-history-button {
    margin-top: 10px;
    width: 250px; 
    padding: 10px; 

    background-color: #466f9c;
    color: white;
    border-radius: 5px; 
    align-items: center;
    
   }

.history-button {
    width: 250px !important;
    padding: 10px !important;
    margin-bottom: 10px !important;
    background-color: #5c5e5f !important;
    color: white !important;
    border-radius: 5px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}




#today {
  display: inline-block;
  vertical-align: top; 
}

.card {
  width: 100%; 
  margin-top: 10px; 
  border: 1px solid #0b3c70;
  border-radius: 1rem;
  padding: 15px;
  padding-top: 1rem;
  padding-right: 25rem;
  margin-top: 3rem;
}

.card-body {
  text-align: left;
  color: black; 
  
}

.card-body p {
  white-space: normal;
}



.forecastcard {
  max-width: 50px;
  /* width: 100%;  */
  margin-top: 10px; 
  border: 1px solid #0b3c70;
  color: aquamarine;
  border-radius: 1rem;
  padding: 15px;
  padding-top: 1rem;
  padding-right: 13rem;
  margin-top: 3rem;
}

